<p id="notice"><%= notice %></p>

<h1>Products</h1>

<hr>
<h3>Add a new product </h3>
<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
<hr>

<% @products.each do |product| %>
  <div style="padding: 5px;" >
    <div class="card" style="width: 18rem;">
      <a class="card-img-top" src="..." alt="card_image">
        <%= image_tag(product.image, style:"max-height: 100px; max-width: 100px;") %>
      </a>
      <div class="card-body">
        <h5 class="card-title"><%=product.name%></h5>
        <p class="card-text"><%=product.description%></p>
        <p class="card-text">$<%=product.price%></p>
        <%= link_to 'Show', product, class: "btn btn-primary"%>
        <%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary" %>
        <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>

<br>